.center-video {
    display: block;
    position: relative;
    height: 100vh;
    width: 100%;

    &__content {
        @include absCenter;
        //width is set here
        width: 90%;
        margin: 0 auto;
        box-shadow: 0 3rem 6rem rgba($color-black, .1);
        background-color: $color-white;
        border-radius: 3px;
        padding: 3rem;
    }

    &__video {
        
        //contain video by width, not height, for response on small screens
        width: 100%;
        // with a height: of auto (default) the video will grow until it reaches the max vh;
        height: auto;
    }
}