.quiz {
    min-height: 100vh;
    margin-top: 5rem;
    padding: 6rem 0;
    background-image: linear-gradient(
        to top,
        rgba($color-white, 1),
        rgba($color-white, 0.4),
        rgba($color-white, 1)),
    url("../img/arab-school-bw.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;

    &__button-container {
        position: relative;
        margin: 0 auto;
        width: 60%;
    }

    &__group { 
        margin-bottom: 4rem;
    }

    &__radio-group {
        width: 100%;
        padding: 1rem 0;
    }
    
    &__radio-label {
        position: relative;
        display: block;
        transition: all .3s;
        cursor: pointer;
    }

    &__radio-input {
        display: none;
    }

    &__question-text {
        position: relative;
        margin: 0 auto;
        padding-bottom: 2rem;
        width: 60%;
    }

    &__radio-button {
        position: relative;
        margin: 0 auto;
        min-height: 10rem;
        width: 60%;
        color: $color-white;
        background-color: $color-primary;
        background-clip: border-box;
        box-shadow: $shadow-lt;
        // border: 2px dashed $color-primary;
        border-radius: 3px;
        transition: all .2s;
    }
    
    &__radio-text {
        @include absCenter;
        width: 100%;
        padding-left: 2rem;
    }
    
    //when input is checked the sibling selector (could also be ~ ) is used
    &__radio-button:hover {
        transform: translate(0.1rem, 0.3rem) scale(.95);
    }

    &__radio-input:checked ~ &__radio-button {
        transform: translate(0.1rem, 0.3rem) scale(.99);
        box-shadow: $shadow-xlt;
        background-clip: padding-box;
        border: 2px dashed $color-primary;
    }

    &__download-button {
        display: none;
    }
}
