.icon-container {
    margin: 2rem auto;
    position: relative;
    text-align: center;
    
    @include respond(tab-port) {
        width: 100%;
    }
    
    &__button {
        padding: 0 1rem;
        display: inline-block;
        text-align: center;
        font-size: $font-size-xlarge;
        transition: all 0.5s;
        cursor: pointer;

        &:not(:last-child) {
            border-right: 3px solid $color-black;
        }
    }

    &__caption {
        font-size: $font-size-small;
        // required color to keep from changing color with __button
        color: $color-black; 
        opacity: 0;
        transform: translate(-10%, -80%);
        transition: all 0.5s;
    }
  
    &__button:hover {
        color: $color-secondary;
    }
    
    &__button:hover &__caption {
        opacity: 1;
        transform: translate(0, 0);
    }
}