.play-pause {
    text-align: center;
    
    &__icon {
        font-size: $font-size-xlarge;
        transition: all 0.3s;
    }

    // &__text {
    //     font-size: $font-size-xlarge;
    //     margin-left: 3rem;
    // }
    
    &:hover &__icon {
        color: $color-secondary;
    }
}